@font-face {
    font-family: 'FCadman';
    src:url('https://fauxdev.com/fonts/Cadman.ttf');
    font-style: normal;
    font-weight: normal
}

@font-face {
    font-family: 'FCadman';
    src:url('https://fauxdev.com/fonts/CadmanBold.ttf');
    font-style: normal;
    font-weight: bold
}

@font-face {
    font-family: 'FCadman';
    src:url('https://fauxdev.com/fonts/CadmanItalic.ttf');
    font-style: italic;
    font-weight: normal
}

@font-face {
    font-family: 'FCadman';
    src:url('https://fauxdev.com/fonts/CadmanBoldItalic.ttf');
    font-style: italic;
    font-weight: bold
}

@font-face {
    font-family: 'JetbrainsMonoNF';
    src:url('https://fauxdev.com/fonts/JetbrainsMonoNF.ttf');
    font-style: normal;
    font-weight: normal
}

@font-face {
    font-family: 'JetbrainsMonoNF';
    src:url('https://fauxdev.com/fonts/JetbrainsMonoNFBold.ttf');
    font-style: normal;
    font-weight: bold
}

@font-face {
    font-family: 'JetbrainsMonoNF';
    src:url('https://fauxdev.com/fonts/JetbrainsMonoNFItalic.ttf');
    font-style: italic;
    font-weight: normal
}

@font-face {
    font-family: 'JetbrainsMonoNF';
    src:url('https://fauxdev.com/fonts/JetbrainsMonoNFBoldItalic.ttf');
    font-style: italic;
    font-weight: bold
}

:root {
    --font-mono: 'JetbrainsMonoNF', 'Courier New', Courier, monospace;
    --font-default: 'FCadman', Arial, Helvetica, sans-serif;
}

body {
    background-color: #141014;
    font-family: var(--font-default);
}

.mono {
    font-family: var(--font-mono);
}

.page-title {
    font-size: 4em;
    color: #632b97;
    margin-bottom: 30px;
}

.page-title::before {
    content: "~# ";
}

.page-title::after {
    content: ":";
}

.underline-bold {
    border-bottom: 5px solid #632b97;
    width: max-content;
}

.underline {
    border-bottom: 2px solid #632b97;
    width: max-content;
}

p::before {
    content: "> ";
}

p {
    color: #bf7aff;
}

a {
    color: #632b97;
}

.section-title {
    font-size: 2em;
    color: #632b97;
    margin-bottom: 30px;
}

.section-title::before {
    content: "~$ ";
}

.section-title::after {
    content: ":";
}

ul {
    list-style-type: '[*] - ';
    margin-left: 50px;
    color:#bf7aff;
}

.clickable {
    cursor: pointer;
    user-select: none;
}

.no-underline {
    text-decoration: none;
}

.hidden {
    display: none;
}

.checkbox {
    margin-left: 50px;
    color:#bf7aff;
    font-family: var(--font-default);
}

.checkbox.unchecked::before {
    content: '[ ] - ';
    color:#632b97;
    font-family: var(--font-mono);
}

.checkbox.checked::before {
    content: '[X] - ';
    color: #632b97;
    font-family: var(--font-mono);
}